<h1>Welcome</h1>

<div class="container">
  <div class="row">
    <div class="card col">
      <div class="card-body">
        <h5 class="card-title">Appointments</h5>
        <p class="card-text"></p>
        <%= link_to "Go to Appointments", appointments_path %>
      </div>
    </div>
    <div class="card col">
      <div class="card-body">
        <h5 class="card-title">Patients</h5>
        <p class="card-text"></p>
        <%= link_to "Go to Patients", patients_path %>
      </div>
    </div>
    <div class="card col">
      <div class="card-body">
        <h5 class="card-title">Physicians</h5>
        <p class="card-text"></p>
        <%= link_to "Go to Physicians", physicians_path %>
      </div>
    </div>
  </div>
</div>
